COMPOSE_PROJECT_NAME=
PROBE_IMAGE=
POSTGRES_IMAGE=

DMZ_NET=
CORP_NET=
CORE_NET=
PCI_NET=
CORE_DB_NET=
PCI_DB_NET=

CORE_DB_NAME=
CORE_DB_USER=
CORE_DB_PASSWORD=

PCI_DB_NAME=
PCI_DB_USER=
PCI_DB_PASSWORD=